# Project 1
### Epidemiological Study: US Vaccination Campaign (November 2020 - March 2021)
---
### Project Description/Outline
Determine the effectiveness of the US vaccination campaign in attending the population that is most affected by covid-19 disease. This is achieved by revising the total number of doses applied, vaccination coverage, population demographics such as gender, race, socioeconomic status, and education, versus epidemiologic variables: incidence, prevalence, hospitalization, UCI, death numbers.

In [1]:
## Dependencies
import pandas as pd
import requests
import time
import datetime
import matplotlib.pyplot as plt

# Import API key
from app_tokens import cdc_token

In [92]:
# patients_df = pd.read_csv('clean_data/patients.csv', dtype={'FIPS Code':str})
# patients_df.iloc[-1,0] = 'NA'
# patients_df.set_index('FIPS Code', drop=True, inplace=True)

# hospitalized_df = pd.read_csv('clean_data/hospitalized.csv', dtype={'FIPS Code':str})
# hospitalized_df.iloc[-1,0] = 'NA'
# hospitalized_df.set_index('FIPS Code', drop=True, inplace=True)

# icu_df = pd.read_csv('clean_data/icu.csv', dtype={'FIPS Code':str})
# icu_df.iloc[-1,0] = 'NA'
# icu_df.set_index('FIPS Code', drop=True, inplace=True)

# death_df = pd.read_csv('clean_data/death.csv', dtype={'FIPS Code':str})
# death_df.iloc[-1,0] = 'NA'
# death_df.set_index('FIPS Code', drop=True, inplace=True)

In [173]:
patients_df1 = pd.read_csv('clean_data/patients.csv', dtype={'FIPS Code':str})
hospitalized_df1 = pd.read_csv('clean_data/hospitalized.csv', dtype={'FIPS Code':str})
icu_df1 = pd.read_csv('clean_data/icu.csv', dtype={'FIPS Code':str})
death_df1 = pd.read_csv('clean_data/death.csv', dtype={'FIPS Code':str})

In [174]:
patients_df.drop('Total', axis=1, inplace=True)
hospitalized_df.drop('Total', axis=1, inplace=True)
icu_df.drop('Total', axis=1, inplace=True)
death_df.drop('Total', axis=1, inplace=True)

In [175]:
month = '2020-10'
patients_df[month] = patients_df1[month].values
hospitalized_df[month] = hospitalized_df1[month].values
icu_df[month] = icu_df1[month].values
death_df[month] = death_df1[month].values

In [176]:
patients_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
FIPS Code,,,,,,,,,,
01001,0.0,0.0,14.0,38.0,148.0,326.0,485.0,386.0,331.0,391.0
01003,0.0,0.0,62.0,131.0,72.0,428.0,2073.0,1370.0,1340.0,937.0
01005,0.0,0.0,0.0,40.0,91.0,146.0,228.0,144.0,147.0,155.0
01007,0.0,0.0,0.0,35.0,29.0,97.0,190.0,173.0,114.0,203.0
01009,0.0,0.0,13.0,32.0,15.0,144.0,555.0,538.0,297.0,510.0
...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,2088.0,1800.0,20080.0,47847.0,55253.0,63919.0,111954.0,84834.0,128778.0,178445.0

In [177]:
patients_df['Total'] = patients_df.sum(axis=1)
hospitalized_df['Total'] = hospitalized_df.sum(axis=1)
icu_df['Total'] = icu_df.sum(axis=1)
death_df['Total'] = death_df.sum(axis=1)

In [178]:
data_abs = {
    'Patients': patients_df['Total'],
    'Hospitalized': hospitalized_df['Total'],
    'ICU': icu_df['Total'],
    'Death': death_df['Total']
}
total_abs = pd.DataFrame(data_abs)

In [179]:
# total_abs.shape
# total_abs.sum()

(3143, 4)

In [181]:
patients_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,Total
FIPS Code,,,,,,,,,,,
01001,0.0,0.0,14.0,38.0,148.0,326.0,485.0,386.0,331.0,391.0,2119.0
01003,0.0,0.0,62.0,131.0,72.0,428.0,2073.0,1370.0,1340.0,937.0,6413.0
01005,0.0,0.0,0.0,40.0,91.0,146.0,228.0,144.0,147.0,155.0,951.0
01007,0.0,0.0,0.0,35.0,29.0,97.0,190.0,173.0,114.0,203.0,841.0
01009,0.0,0.0,13.0,32.0,15.0,144.0,555.0,538.0,297.0,510.0,2104.0
...,...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,2088.0,1800.0,20080.0,47847.0,55253.0,63919.0,111954.0,84834.0,128778.0,178445.0,694998.0

In [167]:
# as_list = death_df.index.tolist()
# as_list[-1] = 'NA'
# death_df.index = as_list

In [182]:
hospitalized_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,Total
01001,0.0,0.0,3.0,9.0,20.0,27.0,9.0,14.0,9.0,10.0,101.0
01003,0.0,0.0,7.0,12.0,6.0,17.0,54.0,47.0,20.0,20.0,183.0
01005,0.0,0.0,0.0,8.0,7.0,10.0,7.0,4.0,5.0,7.0,48.0
01007,0.0,0.0,0.0,8.0,0.0,4.0,9.0,12.0,4.0,8.0,45.0
01009,0.0,0.0,2.0,5.0,0.0,5.0,16.0,23.0,7.0,3.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,152.0,293.0,3441.0,4578.0,3533.0,2842.0,4064.0,3474.0,3411.0,5433.0,31221.0

In [183]:
icu_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,Total
01001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,14.0,53.0,806.0,697.0,438.0,342.0,441.0,375.0,352.0,469.0,3987.0

In [184]:
death_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,Total
01001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01003,0.0,0.0,0.0,0.0,0.0,0.0,35.0,22.0,0.0,0.0,57.0
01005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,295.0,0.0,448.0,1252.0,842.0,507.0,1057.0,975.0,1106.0,2157.0,8639.0

In [185]:
total_abs

       Patients  Hospitalized     ICU   Death
01001    2119.0         101.0     0.0     0.0
01003    6413.0         183.0     0.0    57.0
01005     951.0          48.0     0.0     0.0
01007     841.0          45.0     0.0     0.0
01009    2104.0          61.0     0.0     0.0
...         ...           ...     ...     ...
56039       0.0           0.0     0.0     0.0
56041       0.0           0.0     0.0     0.0
56043       0.0           0.0     0.0     0.0
56045       0.0           0.0     0.0     0.0
NA     694998.0       31221.0  3987.0  8639.0

[3143 rows x 4 columns]

In [186]:
patients_df.to_csv('analysis_data/patients.csv')
hospitalized_df.to_csv('analysis_data/hospitalized.csv')
icu_df.to_csv('analysis_data/icu.csv')
death_df.to_csv('analysis_data/death.csv')
total_abs.to_csv('analysis_data/total_abs.csv')

## County Location

In [87]:
county_data = pd.read_csv('input_data/uscities.csv', dtype={'county_fips':str})
county_data = county_data[['county_fips','lat','lng']]
county_data.rename(columns={'county_fips':'FIPS Code', 'lat':'Lat', 'lng':'Lng'}, inplace=True)
county_data.sort_values(by='FIPS Code', ascending=True, inplace=True)
county_data.reset_index(inplace=True, drop=True)

county_data

      FIPS Code      Lat      Lng
0         01001  32.6610 -86.7087
1         01001  32.6793 -86.4607
2         01001  32.4320 -86.6579
3         01001  32.5797 -86.4529
4         01001  32.4605 -86.4588
...         ...      ...      ...
28333     72151  18.0469 -65.8792
28334     72151  18.0729 -65.8976
28335     72151  18.0370 -65.8494
28336     72153  18.0135 -66.8688
28337     72153  18.0344 -66.8615

[28338 rows x 3 columns]

In [88]:
county_location = county_data.groupby('FIPS Code').mean()
county_location.to_csv('clean_data/county_coordinates.csv')

In [89]:
census_old = pd.read_csv('clean_data/census_2019.csv', dtype={'FIPS Code':str})
census_old.drop(['Latitude', 'Longitude'], axis=1, inplace=True)
census_old.set_index('FIPS Code', drop=True, inplace=True)

census_old

,STNAME,CTYNAME,POPESTIMATE2019,TOT_MALE,TOT_FEMALE,0 - 17 years,18 - 49 years,50 - 64 years,65 + years,Percent Hispanic,Percent non-Hispanic American Indian/Alaska Native,Percent non-Hispanic Asian,Percent non-Hispanic Black,Percent non-Hispanic Native Hawaiian/Pacific Islander,Percent non-Hispanic White,Percent non-Hispanic Other
FIPS Code,,,,,,,,,,,,,,,,
01001,Alabama,Autauga County,55869,27092,28777,14252,21652,11041,8924,0.0283,0.0025,0.0103,0.1900,0.0001,0.7460,0.6548
01003,Alabama,Baldwin County,223234,108247,114987,52268,77402,46734,46830,0.0456,0.0065,0.0092,0.0917,0.0000,0.8307,0.6710
01005,Alabama,Barbour County,24686,13064,11622,5595,9477,4753,4861,0.0436,0.0029,0.0048,0.4744,0.0000,0.4581,0.3463
01007,Alabama,Bibb County,22394,11929,10465,4992,9233,4436,3733,0.0257,0.0013,0.0012,0.2214,0.0000,0.7453,0.6354
01009,Alabama,Blount County,57826,28472,29354,14522,21002,11488,10814,0.0926,0.0007,0.0037,0.0153,0.0004,0.8689,0.7923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,Wyoming,Sweetwater County,42343,21808,20535,12049,16959,7846,5489,0.1588,0.0102,0.0074,0.0112,0.0003,0.7956,0.5841
56039,Wyoming,Teton County,23464,12142,11322,4586,10694,4467,3717,0.1503,0.0033,0.0125,0.0124,0.0012,0.8134,0.5153
56041,Wyoming,Uinta County,20226,10224,10002,6215,7229,3757,3025,0.0913,0.0065,0.0016,0.0011,0.0000,0.8752,0.6935
56043,Wyoming,Washakie County,7805,3963,3842,1960,2506,1609,1730,0.1423,0.0052,0.0000,0.0004,0.0000,0.8190,0.5881
56045,Wyoming,Weston County,6927,3624,3303,1529,2362,1558,1478,0.0108,0.0017,0.0077,0.0023,0.0011,0.9637,0.7604

In [93]:
census_new = census_old.merge(county_location, how='left', left_index=True, right_index=True)
census_new.to_csv('analysis_data/census_2019.csv')

census_new

,STNAME,CTYNAME,POPESTIMATE2019,TOT_MALE,TOT_FEMALE,0 - 17 years,18 - 49 years,50 - 64 years,65 + years,Percent Hispanic,Percent non-Hispanic American Indian/Alaska Native,Percent non-Hispanic Asian,Percent non-Hispanic Black,Percent non-Hispanic Native Hawaiian/Pacific Islander,Percent non-Hispanic White,Percent non-Hispanic Other,Lat,Lng
FIPS Code,,,,,,,,,,,,,,,,,,
01001,Alabama,Autauga County,55869,27092,28777,14252,21652,11041,8924,0.0283,0.0025,0.0103,0.1900,0.0001,0.7460,0.6548,32.562500,-86.547800
01003,Alabama,Baldwin County,223234,108247,114987,52268,77402,46734,46830,0.0456,0.0065,0.0092,0.0917,0.0000,0.8307,0.6710,30.554945,-87.723960
01005,Alabama,Barbour County,24686,13064,11622,5595,9477,4753,4861,0.0436,0.0029,0.0048,0.4744,0.0000,0.4581,0.3463,31.787050,-85.429850
01007,Alabama,Bibb County,22394,11929,10465,4992,9233,4436,3733,0.0257,0.0013,0.0012,0.2214,0.0000,0.7453,0.6354,33.059925,-87.145725
01009,Alabama,Blount County,57826,28472,29354,14522,21002,11488,10814,0.0926,0.0007,0.0037,0.0153,0.0004,0.8689,0.7923,33.957085,-86.576808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,Wyoming,Sweetwater County,42343,21808,20535,12049,16959,7846,5489,0.1588,0.0102,0.0074,0.0112,0.0003,0.7956,0.5841,41.670024,-109.198271
56039,Wyoming,Teton County,23464,12142,11322,4586,10694,4467,3717,0.1503,0.0033,0.0125,0.0124,0.0012,0.8134,0.5153,43.515844,-110.815633
56041,Wyoming,Uinta County,20226,10224,10002,6215,7229,3757,3025,0.0913,0.0065,0.0016,0.0011,0.0000,0.8752,0.6935,41.293529,-110.539357
56043,Wyoming,Washakie County,7805,3963,3842,1960,2506,1609,1730,0.1423,0.0052,0.0000,0.0004,0.0000,0.8190,0.5881,44.018750,-107.701300
56045,Wyoming,Weston County,6927,3624,3303,1529,2362,1558,1478,0.0108,0.0017,0.0077,0.0023,0.0011,0.9637,0.7604,43.938550,-104.357075